body{
    background-color: rgb(53, 54, 54);
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}
.navbar{
    display: inline;
}
.title{
    display: inline;
    color:#d23342;
    font-weight: bolder;
    font-size:xx-large;
    margin-right: 10px;
    margin-bottom: 8px;
    text-decoration: none;
}
.title span{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p-text, .form{
    display: inline;
}
.card-counter{
    display: inline;
    color:lightsteelblue;
    font-family:monospace;
}
.row{
    display:flex;
    justify-content: space-around;
    flex-flow: wrap;
}
.card{
    display: inline-block;
    flex-direction: row;
    box-sizing: border-box;
    width: 300px;
    max-height: 400px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    color:honeydew;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 16px;
    text-align: center;
}
.img {
    border-radius: 5px;
}
figure {
    position: relative;
}
figcaption{
    position: absolute;
    bottom: 0;
    left: 30px;
    font-family: monospace;
    font-size: xx-small;
    color: white;
    background-color:rgb(24, 23, 23);
    
}
figcaption{
    opacity: 0;
    transition:opacity 1000ms;
}
figure:hover figcaption{
    opacity: 1;
}
.a-watch{
    color:rgb(27, 147, 151);
    text-decoration: none;
}
figcaption:hover {
    display:block;  
}
.play-icon-container{
    display: inline;

}
.time-icon-container{
    text-align: center;
    width:60px;
    white-space: nowrap;
    margin-left: 78px;
    margin-top: 4px;

}
.fa-angle-right{
    margin-right: 30px;
    transition: transform 1.5s;    
}
.p-time{
    display: inline;
    transition: color 1s ease-out; 
}
.a-watch{
    transition: color 1s ease-out;
}
.fa-angle-right:hover{
    color: rgb(255, 10, 35);
    transform: rotate(360deg);
}
.a-watch:hover{
    color: rgb(212, 18, 44);
} 
.p-time:hover{
    cursor: pointer;
    color: rgb(212, 18, 44);
}
.footer-icon{
display: flex;
flex-direction: column;
position: fixed;
margin-top: 20px;
bottom: 0px;
padding-bottom: 0px;
margin-bottom: 0px;
background-color: rgb(0, 0, 0);
}

.footer-icon .fa{
    display: inline-block;
    color:rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    padding-left: 3px;
    font-size: 17px;
}

@media (max-width: 1100px){

    .row{
        display: flex;
    }
    .form{
        display: block;
        left:0;
        margin-left: 3px;
    }
    #select{
        display: block;
        margin: 3px;
    }
    .card-counter{
        margin-left: 3px;
    }

}
@media (max-width: 500px){

    .footer-icon .fa {
        font-size: 20px;
    }
    .title{
        text-align: center;
    }
}

@media (max-width: 400px){

    select, select > option {
    width: 177px;
    }
    .navbar, .title, .p-text{
        display: block;
    }
    .card-counter{
        display: block;
    }
    
}
